.error{font-size:200%;color:red;}
#logos {
    padding: 5px 0;
    white-space: nowrap;
    width: 100%;
    display: table;
}

.logo-image {
    vertical-align: middle;
    display: table-cell;
    padding: 0 2px;
}

.logo-image img {
    max-width: 100%;
}
#app-content-wrapper #app-content {
    padding-bottom:0;
    margin:0;
    height: 100%;
}
#app-content-wrapper #app-content #app-actions{
    display:none;
}

#inner-app-content {
    padding:0;
    margin:0;
    height: 100%;
}
#app-content-wrapper #app-content{

}
#map{
    height:100%;
    width:100%;
    position:relative;
}
#slider-container{
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
}
.slider-container{
    height:100px;
    max-height:100px;
    position:absolute;
    bottom: 10px;
    left: 35px;
    width:calc(100% - 80px);
    background-color:rgba(255,255,255,.8);
    z-index: 9999;
    border-radius: 3px;
}

.slider-container .slider{
    width:calc(100% - 40px);
    left:20px;
    top: calc(50% - 6px);
}
.slider-container .slider-info{
    text-align:center;
    margin: 0 auto;
}
.slider-container .animation-controls{
    position: absolute;
    bottom:10px;
    left:calc(50% - 100px);
    overflow: hidden;
}
.hidden {
    -webkit-transition: display .5s ease;
    -moz-transition: display .5s ease;
    -o-transition: display .5s ease;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 40px auto;
  /*
   * Spinner positions
   * 1 2 3
   * 4 5 6
   * 7 8 9
   */ }
  .sk-cube-grid .sk-cube {
    width: 33.33%;
    height: 33.33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0.0s;
            animation-delay: 0.0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); } }
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); } }
.leaflet-draw-toolbar .leaflet-draw-draw-shapefile {
	background-image: url('../images/draw-shapefile.png') !important;
	background-size: 20px 20px;
}

#leaflet-draw-draw-shapefile-btn {
	height:26px;
	width:26px;
}

#leaflet-draw-shapefile-selector {
	display:none;
}

.leaflet-draw-toolbar .leaflet-draw-draw-geojson {
	background-image: url('../images/draw-json.png') !important;
	background-size: 20px 20px;
}

#leaflet-draw-draw-geojson-btn {
	height:26px;
	width:26px;
}

#leaflet-draw-geojson-selector {
	display:none;
}